body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
h1{
  text-align: center;
}

.container {
  position: absolute;
  /* Center form in page horizontally & vertically */

  margin-top: 50px;
}

#row {
  border-radius: 10px;
  
  margin: 0;
  padding: 0;
}
#card{
  background-color: lightcoral;
  text-align: center;
  font-size:1.5em ;
}